<table>
  <tr>
    <th>
      Name: <%= @cat.name %>
    </th>
  </tr>
  <tr>
    <td>
      Color: <%= @cat.color %>
    </td>
  </tr>
  <tr>
    <td>
      Birthday: <%= @cat.birth_date %>
    </td>
  </tr>
  <tr>
    <td>
      Age: <%= @cat.age %>
    </td>
  </tr>
  <tr>
    <td>
      Sex: <%= @cat.sex %>
    </td>
  </tr>
  <tr>
    <td>
      Description: <%= @cat.description %>
    </td>
  </tr>
</table>
